|# Python的一些相关函数
|
|
if number
    |## number相关的函数
    |
    each val,index in number
        each va,ind in val.title
            ||#{va}
            if ind === val.title.length-1
                ||
                |
        each va,ind in val.title
            ||:---
            if ind === val.title.length-1
                ||
                |
        each va,ind in val.data
            if(va.fun)
                if(va.link)
                    ||[#{va.fun}](http://www.runoob.com#{va.link})
                else
                    ||#{va.fun}
            else
                ||#{va.desc}|
                |
        |
        |
        |
if string
    |## string相关的函数
    |
    each val,index in string
        ||序号|方法|描述|
        ||:---|:---|:---|
        |
        each va,ind in val.data
            if va.count
                ||#{va.count}|
            if va.fun
                |[#{va.fun}](http://www.runoob.com#{va.link})|#{va.desc}|
                |
        |
        |
        |
if list
    |## list相关的函数
    |
    each val,index in list
        ||序号|方法|描述|
        ||:---|:---|:---|
        |
        each va,ind in val.data
            if va.count
                ||#{va.count}|
            if va.fun
                |[#{va.fun}](http://www.runoob.com/python3/#{va.link})|#{va.desc}|
                |
        |
        |
        |
if dict
    |## dict相关的函数
    |
    each val,index in dict
        ||序号|方法|描述|
        ||:---|:---|:---|
        |
        each va,ind in val.data
            if va.count
                ||#{va.count}|
            if va.fun
                |[#{va.fun}](http://www.runoob.com/python3/#{va.link})|#{va.desc}|
                |
        |
        |
        |
